<a href="https://colab.research.google.com/github/Crapho/Crapho/blob/main/data_organising.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd
import numpy as np

In [94]:

df1 = pd.read_excel ("/content/sample_data/Book1.xlsx", sheet_name= 0)
df2 = pd.read_excel ("/content/sample_data/Book1.xlsx", sheet_name= 1)

In [95]:
df1.head()
df1.tail()

,scheme,N/T/S,GOI realese_2019,GOI\nShare_2019,State\nShare_2019,Total_2019,GOI realese_2018,GOI\nShare_2018,State\nShare_2018,Total_2018
170,Livestock Census and Integrated Sample Survey ...,Normal,"19,13.10","20,52.29",....,"20,52.29","3,41.25","2,50.80",....,"2,50.80"
171,Livestock Health and Diseases Control CASP (9979),Normal,"29,66.52","20,74.58",....,"20,74.58","16,86.36","26,71.33",....,"26,71.33"
172,NaN,SCCS,NaN,10.16,....,10.16,NaN,63.48,42.32,"1,05.80"
173,NaN,Total,NaN,"20,84.74",....,"20,84.74",NaN,"27,34.81",42.32,"27,77.13"
174,TOTAL,NaN,"4,23,94,67.71","1,41,13,38.41","45,53,35.12","1,86,66,73.53","3,30,56,92.62","2,64,59,79.34","61,19,67.54","3,25,79,46.88"

In [55]:
df2

,scheme,N/T/S,GOI realese_2019,GOI\nShare_2019,State\nShare_2019,Total_2019,GOI realese_2018,GOI\nShare_2018,State\nShare_2018,Total_2018
0,National Bamboo\nMission,Normal,1093,--,--,606.08,--,--,--,--
1,NaN,Tribal,NaN,--,--,337.08,NaN,--,--,--
2,NaN,Scheduled Caste,NaN,--,--,364.58,NaN,--,--,--
3,Integrated\nManagement of\nPublic Distribution...,Normal,171.84,--,NaN,--,--,--,--,--
4,NaN,Normal,NaN,--,--,325.17,NaN,--,--,--
...,...,...,...,...,...,...,...,...,...,...
167,NaN,Scheduled Caste,NaN,--,---,913,NaN,--,--,821.7
168,Swadhar Greh,Normal,162.06,--,--,240.87,46.1,--,--,79.25
169,Integrated Development and Management of Fishe...,Normal,1859.47,--,--,--,711.39,--,--,9.54
170,NaN,Tribal,NaN,--,--,--,NaN,--,--,3
171,NaN,Scheduled Caste,NaN,--,--,--,NaN,--,--,1.12

In [24]:
df2.head()

,scheme,N/T/S,GOI realese_2019,GOI\nShare_2019,State\nShare_2019,Total_2019,GOI realese_2018,GOI\nShare_2018,State\nShare_2018,Total_2018
0,National Bamboo\nMission,Normal,1093,--,--,606.08,--,--,--,--
1,NaN,Tribal,NaN,--,--,337.08,NaN,--,--,--
2,NaN,Scheduled Caste,NaN,--,--,364.58,NaN,--,--,--
3,Integrated\nManagement of\nPublic Distribution...,Normal,171.84,--,NaN,--,--,--,--,--
4,NaN,Normal,NaN,--,--,325.17,NaN,--,--,--

In [25]:
df1

,scheme,N/T/S,GOI realese_2019,GOI\nShare_2019,State\nShare_2019,Total_2019,GOI realese_2018,GOI\nShare_2018,State\nShare_2018,Total_2018
0,Intensification of Forest Management/Forest Fi...,Normal,"4,28.07",....,....,....,"7,87.28","7,86.97",....,"7,86.97"
1,Project Elephant (0260),Normal,44.19,....,....,....,46.54,43.22,....,43.22
2,National Urban Health Mission (0416),Normal,"1,45,87.00",33.34,....,33.34,"1,32,46.00","1,13,03.69","75,56.54","1,88,60.23"
3,NaN,SCCS,NaN,"56,05.97","37,38.79","93,44.76",NaN,....,....,....
4,NaN,TCS,NaN,....,"5,29.14","5,29.14",NaN,"3,93.00","7,77.27","11,70.27"
...,...,...,...,...,...,...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"19,13.10","20,52.29",....,"20,52.29","3,41.25","2,50.80",....,"2,50.80"
171,Livestock Health and Diseases Control CASP (9979),Normal,"29,66.52","20,74.58",....,"20,74.58","16,86.36","26,71.33",....,"26,71.33"
172,NaN,SCCS,NaN,10.16,....,10.16,NaN,63.48,42.32,"1,05.80"
173,NaN,Total,NaN,"20,84.74",....,"20,84.74",NaN,"27,34.81",42.32,"27,77.13"
174,TOTAL,NaN,"4,23,94,67.71","1,41,13,38.41","45,53,35.12","1,86,66,73.53","3,30,56,92.62","2,64,59,79.34","61,19,67.54","3,25,79,46.88"

In [ ]:
#dataframe with a new column included
df.assign(Group='A')
#realigning columns
df.assign(Group='A')[['Group'] + df.columns.tolist()]
#diff method of adding column
df1.insert(0, 'stateC_code', '1')

In [73]:
#dropping a column
df1=df1.drop(columns=df1.iloc[:,[2,3,4]])

In [92]:
df1

,scheme,Type,Total_2019,Total_2018,Types_Cat
0,Intensification of Forest Management/Forest Fi...,Normal,....,"7,86.97",0
1,Project Elephant (0260),Normal,....,43.22,0
2,National Urban Health Mission (0416),Normal,33.34,"1,88,60.23",0
3,National Urban Health Mission (0416),SCCS,"93,44.76",....,2
4,National Urban Health Mission (0416),TCS,"5,29.14","11,70.27",3
...,...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"20,52.29","2,50.80",0
171,Livestock Health and Diseases Control CASP (9979),Normal,"20,74.58","26,71.33",0
172,Livestock Health and Diseases Control CASP (9979),SCCS,10.16,"1,05.80",2
173,Livestock Health and Diseases Control CASP (9979),Total,"20,84.74","27,77.13",4
174,TOTAL,NaN,"1,86,66,73.53","3,25,79,46.88",-1

In [74]:
df1=df1.drop(columns=df1.iloc[:,[3,4,5]])

In [ ]:
#fill missing programme name in rows

In [100]:
df1
df1['scheme'].fillna(method='pad', inplace=True)

In [101]:
df1

,scheme,Type,GOI realese_2019,GOI\nShare_2019,State\nShare_2019,Total_2019,GOI realese_2018,GOI\nShare_2018,State\nShare_2018,Total_2018
0,Intensification of Forest Management/Forest Fi...,Normal,"4,28.07",....,....,....,"7,87.28","7,86.97",....,"7,86.97"
1,Project Elephant (0260),Normal,44.19,....,....,....,46.54,43.22,....,43.22
2,National Urban Health Mission (0416),Normal,"1,45,87.00",33.34,....,33.34,"1,32,46.00","1,13,03.69","75,56.54","1,88,60.23"
3,National Urban Health Mission (0416),SCCS,NaN,"56,05.97","37,38.79","93,44.76",NaN,....,....,....
4,National Urban Health Mission (0416),TCS,NaN,....,"5,29.14","5,29.14",NaN,"3,93.00","7,77.27","11,70.27"
...,...,...,...,...,...,...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"19,13.10","20,52.29",....,"20,52.29","3,41.25","2,50.80",....,"2,50.80"
171,Livestock Health and Diseases Control CASP (9979),Normal,"29,66.52","20,74.58",....,"20,74.58","16,86.36","26,71.33",....,"26,71.33"
172,Livestock Health and Diseases Control CASP (9979),SCCS,NaN,10.16,....,10.16,NaN,63.48,42.32,"1,05.80"
173,Livestock Health and Diseases Control CASP (9979),Total,NaN,"20,84.74",....,"20,84.74",NaN,"27,34.81",42.32,"27,77.13"
174,TOTAL,NaN,"4,23,94,67.71","1,41,13,38.41","45,53,35.12","1,86,66,73.53","3,30,56,92.62","2,64,59,79.34","61,19,67.54","3,25,79,46.88"

In [39]:
df['Type'] = df['Type'].astype(float)

KeyError: ignored

In [99]:
#rename column 
df1.rename(columns = {'N/T/S':'Type'}, inplace = True)

In [64]:
df1

,scheme,Type,Total_2019,Total_2018
0,Intensification of Forest Management/Forest Fi...,Normal,....,"7,86.97"
1,Project Elephant (0260),Normal,....,43.22
2,National Urban Health Mission (0416),Normal,33.34,"1,88,60.23"
3,National Urban Health Mission (0416),SCCS,"93,44.76",....
4,National Urban Health Mission (0416),TCS,"5,29.14","11,70.27"
...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"20,52.29","2,50.80"
171,Livestock Health and Diseases Control CASP (9979),Normal,"20,74.58","26,71.33"
172,Livestock Health and Diseases Control CASP (9979),SCCS,10.16,"1,05.80"
173,Livestock Health and Diseases Control CASP (9979),Total,"20,84.74","27,77.13"
174,TOTAL,NaN,"1,86,66,73.53","3,25,79,46.88"

In [96]:
print (df1.dtypes)

scheme               object
N/T/S                object
GOI realese_2019     object
GOI\nShare_2019      object
State\nShare_2019    object
Total_2019           object
GOI realese_2018     object
GOI\nShare_2018      object
State\nShare_2018    object
Total_2018           object
dtype: object

In [47]:
# changing from string to float
df1['Type'] = df1['Type'].astype(float)

ValueError: ignored

In [80]:
df1

,scheme,Type,Total_2019,Total_2018
0,Intensification of Forest Management/Forest Fi...,Normal,....,"7,86.97"
1,Project Elephant (0260),Normal,....,43.22
2,National Urban Health Mission (0416),Normal,33.34,"1,88,60.23"
3,National Urban Health Mission (0416),SCCS,"93,44.76",....
4,National Urban Health Mission (0416),TCS,"5,29.14","11,70.27"
...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"20,52.29","2,50.80"
171,Livestock Health and Diseases Control CASP (9979),Normal,"20,74.58","26,71.33"
172,Livestock Health and Diseases Control CASP (9979),SCCS,10.16,"1,05.80"
173,Livestock Health and Diseases Control CASP (9979),Total,"20,84.74","27,77.13"
174,TOTAL,NaN,"1,86,66,73.53","3,25,79,46.88"

In [97]:
#chnaging from string to numeric
df1 ['Total_2019'] = pd.to_numeric(df1['Total_2019'])
df1 ['Total_2018'] = pd.to_numeric(df1['Total_2018'])

ValueError: ignored

In [ ]:
# convert all columns of DataFrame
df = df.apply(pd.to_numeric) # convert all columns of DataFrame

# convert just columns "a" and "b"
df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

# convert Series
my_series = pd.to_numeric(my_series)

# convert column "a" of a DataFrame
df["a"] = pd.to_numeric(df["a"])

In [98]:
df1

,scheme,N/T/S,GOI realese_2019,GOI\nShare_2019,State\nShare_2019,Total_2019,GOI realese_2018,GOI\nShare_2018,State\nShare_2018,Total_2018
0,Intensification of Forest Management/Forest Fi...,Normal,"4,28.07",....,....,....,"7,87.28","7,86.97",....,"7,86.97"
1,Project Elephant (0260),Normal,44.19,....,....,....,46.54,43.22,....,43.22
2,National Urban Health Mission (0416),Normal,"1,45,87.00",33.34,....,33.34,"1,32,46.00","1,13,03.69","75,56.54","1,88,60.23"
3,NaN,SCCS,NaN,"56,05.97","37,38.79","93,44.76",NaN,....,....,....
4,NaN,TCS,NaN,....,"5,29.14","5,29.14",NaN,"3,93.00","7,77.27","11,70.27"
...,...,...,...,...,...,...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"19,13.10","20,52.29",....,"20,52.29","3,41.25","2,50.80",....,"2,50.80"
171,Livestock Health and Diseases Control CASP (9979),Normal,"29,66.52","20,74.58",....,"20,74.58","16,86.36","26,71.33",....,"26,71.33"
172,NaN,SCCS,NaN,10.16,....,10.16,NaN,63.48,42.32,"1,05.80"
173,NaN,Total,NaN,"20,84.74",....,"20,84.74",NaN,"27,34.81",42.32,"27,77.13"
174,TOTAL,NaN,"4,23,94,67.71","1,41,13,38.41","45,53,35.12","1,86,66,73.53","3,30,56,92.62","2,64,59,79.34","61,19,67.54","3,25,79,46.88"

In [82]:
# creating a categorical column
df1['Type'] = df1['Type'].astype('category')
df1['Types_Cat'] = df1['Type'].cat.codes

In [84]:
df1

,scheme,Type,Total_2019,Total_2018,Types_Cat
0,Intensification of Forest Management/Forest Fi...,Normal,....,"7,86.97",0
1,Project Elephant (0260),Normal,....,43.22,0
2,National Urban Health Mission (0416),Normal,33.34,"1,88,60.23",0
3,National Urban Health Mission (0416),SCCS,"93,44.76",....,2
4,National Urban Health Mission (0416),TCS,"5,29.14","11,70.27",3
...,...,...,...,...,...
170,Livestock Census and Integrated Sample Survey ...,Normal,"20,52.29","2,50.80",0
171,Livestock Health and Diseases Control CASP (9979),Normal,"20,74.58","26,71.33",0
172,Livestock Health and Diseases Control CASP (9979),SCCS,10.16,"1,05.80",2
173,Livestock Health and Diseases Control CASP (9979),Total,"20,84.74","27,77.13",4
174,TOTAL,NaN,"1,86,66,73.53","3,25,79,46.88",-1

In [102]:
file_name = 'df1.xlsx'

In [ ]:
df1['Normal'] = df1.where(df1['Types_Cat'] == '0', '', '0')

In [105]:
df1.to_excel('foo_1.xls')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.